#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 18px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  opacity: 0.5;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
