.status_bar .alt-header__statusbar {
  background-color: #abc1d1;
}
.status_bar {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 2;
}

.status_bar__column {
  width: 33%;
}

.status_bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status_bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status_bar__column .fa-battery-full {
  margin: 0px 5px;
}
